[mysqld]
bind-address            = 0.0.0.0
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
sql-mode = "TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY"
skip-log-bin
innodb_buffer_pool_size = 1G

replicate-wild-ignore-table=mysql.%

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
